

.app-container {
  display: flex;
  flex-direction: column; /* Navbar stays on top */
  min-height: 100vh; /* Allow pages to scroll */
  /* background-color: #d9d9d9; */
}

.main-container {
  display: flex;
  flex: 1; /* Page content fills remaining space */
  flex-direction: column; /* Default pages are full-width */
}

.sidebar {
  background-color: var(--primary);
}

.calculate-layout {
  display: flex;
  flex: 1;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 860px) {
  .calculate-layout {
    flex-direction: column;
  }
}
