body{
    background-color: #D9D9D9;
}

.content-box {
    padding: 20px;
    border-radius: 8px; 
    background-color: white; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    flex: 1;
    width: auto;
    margin: 20px;
    height: 78.5vh;
    max-height: 100vh;
    overflow-y: auto; /* Enables scrolling if content exceeds height */
}

@media (max-width: 860px) {
    .content-box {
        margin: 12px;
        height: auto;
        max-height: none;
    }
}
